.searchPage__searchBar{
    -fx-background-radius: 25;
    -fx-background-color:  linear-gradient(to top right, rgba(234,234,234,0.9) 0%, rgba(205,205,205,1) 100%);
    -fx-text-fill: black;
}

.searchPage__searchBarLogo{
    -fx-cursor: text;
}

.searchPage__advanceSearchButton{
    -fx-cursor: hand;
}
.searchPage__advanceSearchButton--underline{
    visibility: hidden;
}
.searchPage__advanceSearchButton:hover > .searchPage__advanceSearchButton--underline{
    visibility: visible;
}

.searchPage__advanceSearchCard{
    -fx-background-color: #E4E4E4;
    -fx-background-radius: 5;
}

.advanceSearchCard__searchByText,
.advanceSearchCard__genreText{
    -fx-text-fill: black;
    -fx-font-family: 'Karma';
    -fx-font-size: 36;
}

.advanceSearchCard__searchByButtons{
    -fx-text-fill: #1c1c1c;
    -fx-font-family: 'Karma';
    -fx-font-size: 24;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: black ;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}

.advanceSearchCard__searchByButtons .radio{
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-padding: 3;
    -fx-background-color:white;
    -fx-background-insets: 1;
}

.advanceSearchCard__searchByButtons:selected > .radio .dot{
    -fx-background-color: black;
    -fx-background-insets: 0;
}

.advanceSearchCard__checkBox{
    -fx-font-size: 18;
    -fx-font-family: 'Karma-Regular';
    -fx-text-fill: black;
    -fx-faint-focus-color: black ;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}

.advanceSearchCard__checkBox .box{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-background-color: white;
}

.advanceSearchCard__checkBox:selected .mark{
    -fx-background-color: black;
}

.advanceSearchCard__advanceSearchButton{
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-cursor: hand;
    -fx-font-family: 'Karma';
    -fx-background-color: linear-gradient(to top right, rgba(201,201,201,1) 0%, rgba(241,241,241,1) 100%);
    -fx-background-radius: 30;
}

.advanceSearchCard__advanceSearchButton:hover{

    -fx-background-color: #c2c2c2;
}

.searchPage__showOwnedButton{
    -fx-cursor: hand;
}

.showOwnedButton__text{
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-font-family: 'Karma';
}

.showOwnedButton__box,
.showOwnedButton__box--visible{
    -fx-border-width: 1;
    -fx-background-color: white;
    -fx-border-color: black;
}

.showOwnedButton__box > .showOwnedButton__box__content{
    visibility: hidden;
}

.showOwnedButton__box--visible > .showOwnedButton__box__content{
    visibility: visible;
}

.searchPage__bookContainer{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.searchPage__bookContainer:hover{
    -fx-background-color: #d7d7d7;
}

.searchPage__bookContainer__title{
    -fx-font-family: 'Poppins';
    -fx-font-size: 13;
    -fx-text-fill: black;
}

.searchPage__bookContainer__price{
    -fx-font-family: 'Gentium Book Plus';
    -fx-font-size: 20;
    -fx-text-fill: black;
}

.searchPage__PriceSearch__radio {
    -fx-padding: 5; /* Padding around the button */
    -fx-font-size: 16px; /* Text size */
    -fx-text-fill: black; /* Text color */
}

.searchPage__PriceSearch__radio .radio {
    -fx-background-color: #ffffff; /* Outer circle background color */
    -fx-background-radius: 50%; /* Circular background */
    -fx-border-color: #000000; /* Outer circle border color */
    -fx-border-width: 2px; /* Outer circle border width */
    -fx-border-radius: 50%; /* Circular border */
}

.searchPage__PriceSearch__radio:selected .radio {
    -fx-background-color: #000000; /* Color of the dot (inner circle) */
    -fx-background-radius: 50%; /* Circular background for dot */
}

.searchPage__PriceSearch__radio .text {
    -fx-font-family: "System"; /* Font family of the label */
    -fx-font-size: 24px; /* Font size of the label */
}

.searchPage__PriceSearch__SubLabel {
    -fx-font-family: "System";
    -fx-font-size: 14px;
}

.searchPage__PriceSearch__TextField {
    -fx-border-color: #000000;
    -fx-font-family: "System";
    -fx-font-size: 12px;
}

