.searchPage__searchBar{
    -fx-background-radius: 25;
    -fx-background-color:  linear-gradient(to top right, rgba(234,234,234,0.9) 0%, rgba(205,205,205,1) 100%);
    -fx-text-fill: black;
}

.searchPage__searchBarLogo{
    -fx-cursor: text;
}

.searchPage__advanceSearchButton{
    -fx-cursor: hand;
}
.searchPage__advanceSearchButton--underline{
    visibility: hidden;
}
.searchPage__advanceSearchButton:hover > .searchPage__advanceSearchButton--underline{
    visibility: visible;
}

