.navBar{
    -fx-background-color: #EEEEEE;
    -fx-min-width: 100%;
}

.navButton{
    -fx-font-family: "Karla";
    -fx-font-size: 28px;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.navButton:hover{
    -fx-background-color: #CDCDCD;
}

.searchLogo{
    -fx-cursor: text;
}

.profileLogo,
.logo{
    -fx-cursor: hand;
}
