.body{
    -fx-background-color: #F4F4F4;
}

.formContent{
    -fx-background-color: white;
    -fx-background-radius: 0 8 8 0;
}

.blackBar{
    -fx-background-color: black;
    -fx-background-radius: 8 0 0 8;
}

.login__emailInput,
.login__passwordInput{
    -fx-border-color: black;
    -fx-border-radius: 3;
}

.login__emailInput--error,
.login__passwordInput--error{
    -fx-border-color: red;
}



.userLabel,
.passwordLabel{
    -fx-font-family: 'Kotta One';
}

.errorText{
    -fx-font-family: 'Merge One';
}



.loginButton,
.createAccountButton{
    -fx-font-family: Merienda;
    -fx-font-size: 24;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
.loginButton{-fx-background-color:  linear-gradient(to top right,#f9f9f9, #4e4e4e);

}
.createAccountButton{
    -fx-font-size: 20;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.createAccountButton:focused {
    -fx-background-radius: 8;
    -fx-background-insets: 0, 1, 1;

}
.createAccountButton:hover,
.loginButton:hover{
    -fx-background-color: #E3D7EA;
}

.loginButton:focused {
    -fx-background-radius: 5;
    -fx-background-insets: 0, 1, 1;
}

.login__adminContainer{
    -fx-background-color: rgba(0, 0, 0,0.3);
}

.login__adminCard{
    -fx-background-color:  linear-gradient(to bottom left, rgb(218, 218, 218) 0%, rgb(234, 234, 234) 33%, rgb(224, 224, 224) 100%);
    -fx-background-radius: 20;
;
}

.login__cardText{
    -fx-font-size: 22;
    -fx-font-family: 'Inter Bold';
    -fx-text-fill: black;
}

.login__yesButton{
    -fx-font-size: 24;
    -fx-font-family: 'Inter Bold';
    -fx-text-fill: black;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: black ;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
    -fx-background-color:  linear-gradient(to bottom left, rgb(75, 180, 37) 0%, rgba(39,216,46,1) 33%, rgb(81, 168, 9) 100%);
}

.login__yesButton:hover{
    -fx-background-color:  linear-gradient(to bottom left, rgb(54, 140, 24) 0%, rgb(35, 190, 40) 33%, rgb(71, 143, 10) 100%);
}

.login__noButton{
    -fx-font-size: 24;
    -fx-font-family: 'Inter Bold';
    -fx-text-fill: black;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: black ;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom left, rgba(116,116,116,1) 0%, rgba(209,209,209,1) 33%, rgb(124, 124, 124) 100%);
}

.login__noButton:hover{
    -fx-background-color:  linear-gradient(to bottom left, rgb(98, 98, 98) 0%, rgb(182, 180, 180) 33%, rgb(117, 117, 117) 100%);
}