.mainPage__scrollContainer > .scroll-bar:vertical .thumb{
    -fx-background-color : #383838;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.mainPage__scrollContainer > .scroll-bar:vertical .track{
     -fx-border-color: rgba(0, 0, 0, 0.4);
     -fx-border-radius: 10;
     -fx-border-width: 1;
 }

.mainPage__scrollContainer > .scroll-bar:vertical .decrement-arrow,
.mainPage__scrollContainer > .scroll-bar:vertical .increment-arrow{
    -fx-border-color: #000000;
}
.mainPage__scrollContainer{

}

.checkBook__bookTitle{
    -fx-text-fill: black;
    -fx-font-size: 30;
    -fx-font-family: 'Inter Bold';

}

.checkBook__bookAuthor{
    -fx-text-fill: black;
    -fx-font-family: 'Inter';
    -fx-font-size: 20;
}

.checkBook__bookRating{
    -fx-text-fill: #313131;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.checkBook__descriptionTitle{
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: 'Inter Bold';

}

.checkBook__descriptionBody{
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-family: 'Inter';
}

.checkBook__genreTitle{
    -fx-font-size: 15;
    -fx-font-family: 'Inter Bold';
    -fx-text-fill: black;
}

.checkBook__genreBody{
    -fx-font-size: 14;
    -fx-font-family: 'Inter';
    -fx-text-fill: black;
}

.checkBook__purchaseButton,
.checkBook__purchaseButton--bought{
    -fx-text-fill: black;
    -fx-background-color:  linear-gradient(to bottom left, rgb(75, 180, 37) 0%, rgba(39,216,46,1) 33%, rgb(81, 168, 9) 100%);
    -fx-background-radius: 10;
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 22;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: black ;
    -fx-focus-traversable: false;
    -fx-cursor: hand;

}

.checkBook__purchaseButton--bought{
    -fx-background-color: linear-gradient(to bottom left, rgba(116,116,116,1) 0%, rgba(209,209,209,1) 33%, rgb(124, 124, 124) 100%);
    -fx-cursor: default;
}

.checkBook__purchaseButton:hover{
    -fx-background-color:  linear-gradient(to bottom left, rgb(54, 140, 24) 0%, rgb(35, 190, 40) 33%, rgb(71, 143, 10) 100%);
}

.checkBook__purchaseButton--bought:hover{
    -fx-background-color:  linear-gradient(to bottom left, rgba(116,116,116,1) 0%, rgba(209,209,209,1) 33%, rgb(124, 124, 124) 100%);
}
.checkBook__purchaseButton--insufficient{
    -fx-background-color: linear-gradient(to bottom left, rgb(140, 24, 24) 0%, rgb(190, 35, 35) 33%, rgb(143, 10, 10) 100%);;
}
.checkBook__purchaseButton--insufficient:hover{
    -fx-background-color: linear-gradient(to bottom left, rgb(140, 24, 24) 0%, rgb(190, 35, 35) 33%, rgb(143, 10, 10) 100%);;
}


.checkBook__priceTag{
    -fx-text-fill: black;
    -fx-font-family: 'Gentium Book Plus Bold';
    -fx-font-size: 18;

}
.checkBook__whatDoYouThinkTitle{
    -fx-text-fill: black;
    -fx-font-size: 24;
    -fx-font-family: 'Buenard';
}

.checkBook__ratingStar,
.checkBook__ratingStar--bought{
    -fx-image: url('../images/grayStar.png');
    -fx-cursor: hand;
}

.checkBook__ratingStar:hover{
    -fx-image: url("../images/grayStar.png");
}

.checkBook__ratingStar--rated{
    -fx-image: url('../images/goldStar.png');
    -fx-cursor: hand;
}

.checkBook__ratingStar--rated:hover{
    -fx-image: url('../images/goldStar.png');
}

.checkBook__ratingStar--rated.checkBook__ratingStar--bought{
    -fx-image: url('../images/purpleStar.png');
    -fx-cursor: hand;
}

.checkBook__ratingStar--rated.checkBook__ratingStar--bought:hover{
    -fx-image: url('../images/purpleStar.png');
}

.checkBook__reviewBookButton{
    -fx-text-fill: black;
    -fx-background-color:  linear-gradient(to bottom left, rgb(75, 180, 37) 0%, rgba(39,216,46,1) 33%, rgb(81, 168, 9) 100%);
    -fx-background-radius: 25;
    -fx-font-family: 'Buenard';
    -fx-font-size: 20;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: black ;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}

.checkBook__reviewBookButton:hover{
    -fx-background-color:   linear-gradient(to bottom left, rgb(54, 140, 24) 0%, rgb(35, 190, 40) 33%, rgb(71, 143, 10) 100%);
}

.checkBook__reviewBookButton--reviewed{
    -fx-background-color: linear-gradient(to bottom left, rgb(116, 116, 116) 0%, rgba(209,209,209,1) 53%, rgb(116, 116, 116) 100%);
    -fx-cursor: default;
}

.checkBook__reviewBookButton--reviewed:hover{
    -fx-background-color: linear-gradient(to bottom left, rgb(116, 116, 116) 0%, rgba(209,209,209,1) 53%, rgb(116, 116, 116) 100%);
}

.checkBook__reviewTextArea{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: transparent ;
    -fx-focus-traversable: false;
}

.checkBook__currentReviewUsername{
    -fx-font-size: 15;
    -fx-font-family: 'Inter';
    -fx-text-fill: black;
}

.checkBook__currentReviewBody{
    -fx-font-size: 15;
    -fx-font-family: 'Inter';
    -fx-text-fill: black;
}

.checkBook_reviewCancelButton{
    -fx-font-size: 16;
    -fx-font-family: 'Inter';
    -fx-text-fill: black;
    -fx-focus-color: transparent ;
    -fx-background-radius: 20;
    -fx-faint-focus-color: transparent ;
    -fx-focus-traversable: false;
    -fx-background-color:  linear-gradient(to bottom left, rgb(138, 138, 138) 0%, rgba(209,209,209,1) 73%, rgb(134, 134, 134) 100%);
    -fx-cursor: hand;
}

.checkBook_reviewCancelButton:hover{
    -fx-background-color: linear-gradient(to bottom left, rgb(141, 141, 141) 0%, rgb(180, 180, 180) 73%, rgb(141, 141, 141) 100%);;
}

.checkBook_reviewSubmitButton{
    -fx-font-size: 16;
    -fx-font-family: 'Inter';
    -fx-text-fill: black;
    -fx-focus-color: transparent ;
    -fx-background-radius: 20;
    -fx-faint-focus-color: transparent ;
    -fx-focus-traversable: false;
    -fx-background-color: linear-gradient(to bottom left, rgb(65, 197, 22) 0%, rgb(36, 217, 42) 33%, rgb(91, 190, 9) 100%);
    -fx-cursor: hand;
}

.checkBook_reviewSubmitButton:hover{
    -fx-background-color: linear-gradient(to bottom left, rgb(56, 155, 23) 0%, rgb(30, 190, 34) 33%, rgb(72, 152, 5) 100%);

}

.checkBook__ratingTitle,
.checkBook__reviewsTitle{
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-font-family: 'Inter';
}

.checkBook__ratingSecondaryTitles{
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-font-family: 'Inter';
}

.checkBook__shopperRatingLabel,
.checkBook__anonymousRatingLabel{
    -fx-text-fill: black;
    -fx-font-family: 'Inter';
    -fx-font-size: 13;
}

.checkBook__reviewerName{
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-font-family: 'Inter';
}

.checkBook__reviewText{
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-font-family: 'Inter';
}


.checkBookContainer__downloadButton{
    -fx-text-fill: black;
    -fx-background-color:  linear-gradient(to bottom left, rgb(75, 180, 37) 0%, rgba(39,216,46,1) 33%, rgb(81, 168, 9) 100%);
    -fx-background-radius: 30;
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 18;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: white ;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}

.checkBookContainer__downloadButton:hover{
    -fx-background-color:  linear-gradient(to bottom left, rgb(58, 141, 30) 0%, rgb(34, 192, 39) 33%, rgb(66, 128, 16) 100%);

}

