.topChoiceContainer{
    -fx-background-color: linear-gradient(to bottom right, #534298 0%, #571616 50%);
    -fx-background-radius: 4;
}

.topChoiceWaltonText{
    -fx-fill: #ffffff;
    -fx-font-family: 'Kaisei Decol';
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

.topChoice__imageContainer{
    -fx-background-radius: 6;
    -fx-padding: 6;

}
.topChoice__imageCard{
    -fx-image: url("../images/books/b1.jpg");
    -fx-cursor: hand;
}

.topChoice__imageTitle{
    -fx-fill: #ffffff;
    -fx-font-family: 'Kaisei Decol';
    -fx-font-weight: 500;
    -fx-font-size: 36;
}

.topChoice__descTitle{
    -fx-fill: #ffffff;
    -fx-font-family: 'Kaisei Decol';
    -fx-font-weight: 500;
    -fx-font-size: 24;
}

.topChoice__description{
    -fx-fill: #ffffff;
    -fx-font-family: 'Kaisei Decol';
    -fx-font-size: 14;
}

.topChoice__tags{
    -fx-fill: rgba(255,255,255,0.85);
    -fx-font-family: 'Kaisei Decol';
    -fx-font-size: 12;
}
.radioButton:hover{
    -fx-fill:  linear-gradient(to bottom right, rgba(98,245,184,.5) 0%, rgba(105,110,221,.5) 100%);
}

.radioButton--active.active{
    -fx-fill: linear-gradient(to bottom right, rgba(98,245,184,1) 0%, rgba(105,110,221,1) 100%);
}


.topPicksText,
.latestUploadText{
    -fx-font-size: 48;
    -fx-font-family: 'Fugaz One';
}

.topPicks__goldCard,
.topPicks__silverCard,
.topPicks__bronzeCard{
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.topPicks__goldCard{
    -fx-background-image: url('../images/goldCard.png');
}
.topPicks__silverCard{
    -fx-background-image: url('../images/silverCard.png');
}
.topPicks__bronzeCard{
    -fx-background-image: url('../images/bronzeCard.png');
}


.monthCards__title,
.monthCards__author__title,
.monthCards__description__title{
    -fx-font-family: 'Buenard-Bold';
}

.monthCards__title{
    -fx-font-size: 24;
}

.monthCards__author__title,
.monthCards__author__data{
    -fx-font-size: 14;
}

.monthCards__description__title{
    -fx-font-size: 12;
}

.monthCards__description__data{
    -fx-font-size: 10;
}

.monthCards__genre__title,
.monthCards__genre__data{
    -fx-font-family: 'Buenard';
    -fx-font-size: 10;
}

.monthCards__buyNowButton{
    -fx-font-family: 'Kanit';
    -fx-font-size: 14;
    -fx-background-color: #f3f3f3;
    -fx-background-radius:3;
    -fx-border-width: 1;
    -fx-border-color: #000000;
    -fx-border-radius: 3;
    -fx-background-insets: 1;
}

.monthCards__priceTag{
    -fx-font-family: 'Karma';
    -fx-font-size: 14;
}

.monthCardFirstButton{
    -fx-background-color: #ffffff;
}

.monthCards__sold{
    -fx-font-family: 'Koho';
    -fx-font-size: 20;
}

.latestCard{
    -fx-background-color: #B22222;
    -fx-background-radius: 6 6 4 4;
    -fx-cursor:hand;
}

.latestCard__textContainer{

    -fx-background-color: linear-gradient(to right bottom, #202020, #2b2b2c, #373838, #434444, #4f5151);
    -fx-background-radius: 0 0 6 6;
}

.latestCard__text{
    -fx-font-size:16;
    -fx-font-family: 'Buenard';
}

.test{
    -fx-image: url('../images/books/b3.jpg');
}

.mainPage__scrollContainer > .scroll-bar:vertical .thumb{
    -fx-background-color : #383838;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.mainPage__scrollContainer > .scroll-bar:vertical .track{
     -fx-border-color: rgba(0, 0, 0, 0.4);
     -fx-border-radius: 10;
     -fx-border-width: 1;
 }

.mainPage__scrollContainer > .scroll-bar:vertical .decrement-arrow,
.mainPage__scrollContainer > .scroll-bar:vertical .increment-arrow{
    -fx-border-color: #000000;
}
.mainPage__scrollContainer{

}